@model RegisterVM
@{
    ViewData["Title"] = "Register";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>CyberCode</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- fevicon -->
    <link rel="icon" href="~/images/cyber_icon.png" type="image/gif" />
    <!-- bootstrap css -->
    <!-- style css -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="~/css/responsive.css">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="~/css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
          media="screen">
    <script src="~/js/custom.js" defer asp-append-version="true"></script>

</head>
<body class="main-layout">
    <div class="loader_bg">
        <div class="loader">
            <img src="~/images/LoadCyber.gif" alt="#" />
        </div>
    </div>
    <section class="gradient-form" style="background-color: #eee;">
        <div class="container  h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-10">
                    <div class="card rounded-3 text-black">
                        <div class="row g-0">
                            <div class="col-lg-6">
                                <div class="card-body p-md-5 mx-md-4">
                                    <div class="text-center">
                                        <img src="~/images/AKM.jpeg" style="width: 185px;" alt="logo">
                                        <h2 style="font-size: 30px; ">We are The CYBERCODE Team</h2>
                                    </div>
                                    <div class="text-danger" asp-validation-summary="All"></div>
                                    <form asp-controller="Account" asp-action="Register" method="post">
                                        <br>
                                        <p style="font-size: 17px; margin-bottom: 30px;">Create a new account: </p>
                                        <br>
                                        <div class=" form-outline mb-4">
                                            <input type="hidden" id="RegisterViewModel"/>
                                            <label asp-for="Fullname">Fullname</label>
                                            <input class="form-control" asp-for="Fullname" placeholder="Fullname">
                                            <span class="text-danger" asp-validation-for="Fullname"></span>
                                        </div>
                                        <div class=" form-outline mb-4">
                                            <label asp-for="Username">Username</label>
                                            <input class="form-control" asp-for="Username" placeholder="Username">
                                            <span class="text-danger" asp-validation-for="Username"></span>
                                        </div>

                                        <div class=" form-outline mb-4">
                                            <label asp-for="Email">Email address</label>
                                            <input class="form-control" asp-for="Email" placeholder="Email">
                                            <span class="text-danger" asp-validation-for="Email"></span>
                                        </div>
                                        <div class="form-outline mb-4">
                                            <label asp-for="Password">Password</label>
                                            <input class="form-control" asp-for="Password" placeholder="Password">
                                            <span class="text-danger" asp-validation-for="Password"></span>
                                        </div>
                                        <div class="form-outline mb-4">
                                            <label asp-for="ConfirmPassword">Confirm Password</label>
                                            <input class="form-control" asp-for="ConfirmPassword" placeholder="Password">
                                            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                                        </div>
                                        <div class="text-center pt-1 mb-5 pb-1">
                                            <button class="btn btn-outline-danger btn-block mb-3 w-100"
                                                    type="submit">
                                                Sing Up
                                            </button>
                                            <a class="text-muted" asp-controller="Account" asp-action="ForgotPassword">Forgot password?</a>
                                        </div>

                                        <div class="d-flex align-items-center justify-content-center pb-4">
                                            <p class="mb-0 me-2">Have an account?</p>
                                            <a asp-action="Login" class="btn btn-outline-primary">Sign In</a>
                                        </div>

                                    </form>

                                </div>
                            </div>
                            <div class="col-lg-6 d-flex align-items-center back-image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-3.0.0.min.js"></script>
    <script src="~/js/plugin.js"></script>
    <script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/js/search.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>
</body>

</html>