@model ResetPasswordVM
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="reset-section">
    <div class="container">
        <div class="row" style="display:flex;justify-content:center">

            <div class="col-md-6 text-center">
                <div class="backgr-img">
                    <img src="~/images/cover.png" alt="Logo" class="img-fluid">
                <h2 class="email-label"> Reset password: </h2>
            <div class="text-danger mb-2 mt-3" asp-validation-summary="All"></div>
                    <form asp-controller="Account" asp-action="ResetPassword" method="post">
                        <div class="mb-3">

                            <label id="emailHelp" asp-for="Password" class="label-title">Password</label>
                            <input class="form-control" asp-for="Password" placeholder="Password">
                            <span class="text-danger" asp-validation-for="Password"></span>
                        </div>
                        <div id="emailHelp" class="mb-3">
                            <label asp-for="ConfirmPassword">Confirm Password</label>
                            <input class="form-control" asp-for="ConfirmPassword" placeholder="ConfirmPassword">
                            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                        </div>
                        <input type="hidden" asp-for="Token" value="@Model.Token" />
                        <input type="hidden" asp-for="UserId" value="@Model.UserId" />
                        <button type="submit" class="btn btn-success">Reset password</button>

                    </form>
                </div>
            </div>



        </div>
    </div>



</section>

