@{
    ViewData["Title"] = "VerifyEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="verify-section" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="container">
                    <div class="row justify-content-center mt-5">
                        <div class="col-md-6 text-center">
                            <div class="backgr-img">
                                <img src="~/images/cover.png" alt="Logo" class="img-fluid">
                                <div class="alert alert-success mt-4" role="alert">
                                    <h4 class="alert-heading">Please Check Your Email</h4>
                                    <p>Thank you for choosing us</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
