/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/
/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/
/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/
@import url(animate.min.css);
@import url(normalize.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(slick.css);
@import url(jquery-ui.css);
@import url(nice-select.css);
@import url(https://fonts.googleapis.com/css2?family=Righteous&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Bangers&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Bangers&family=PT+Sans+Narrow&display=swap);
/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/
* {
    box-sizing: border-box !important;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #666666;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 13px;
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none !important;
    opacity: 1;
}

button:focus {
    outline: none;
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    margin: 0px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}

a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}

:focus {
    outline: 0;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

.form-control:focus {
    border-color: #ffffff !important;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}


.navbar-form input {
    border: none !important;
}

.badge {
    font-weight: 500;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.full {
    float: left;
    width: 100%;
}

.layout_padding {
    padding-top: 90px;
    padding-bottom: 90px;
}

.layout_padding_2 {
    padding-top: 75px;
    padding-bottom: 75px;
}

.light_silver {
    background: #f9f9f9;
}

.theme_bg {
    background: #38c8a8;
}

.margin_top_30 {
    margin-top: 30px !important;
}

.full {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
}
/**-- heading section --**/
.main_heading {
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 50px;
}

    .main_heading h2 {
        padding: 0;
        font-size: 48px;
        line-height: 60px;
        font-weight: 400;
        position: relative;
        letter-spacing: -0.5px;
        color: #114c7d;
        border-left: solid #38c8a8 10px;
        padding-left: 15px;
    }

        .main_heading h2 strong {
            background: #38c8a8;
            color: #fff;
            font-weight: 600;
            padding: 0 15px;
            line-height: 68px;
        }

.white_heading_main h2 {
    color: #fff;
}

.small_main_heading {
    margin-top: 25px;
    float: left;
    width: 100%;
    border-bottom: solid rgba(0, 0, 0, 0.07) 1px;
    margin-bottom: 25px;
}

    .small_main_heading h2 {
        padding: 2px 0 20px 0;
        color: #114c7d;
        font-weight: 400;
        font-size: 28px;
        background-image: url("../images/fevicon.png");
        background-repeat: no-repeat;
        padding-left: 55px;
        letter-spacing: -0.5px;
    }

        .small_main_heading h2 strong {
            color: #06a81c;
            font-weight: 600;
        }

.main_bt {
    background: #000;
    color: #fff;
    padding: 10px 60px 10px 60px;
    float: left;
    font-size: 15px;
    font-weight: 400;
    border: solid #000 5px;
    border-radius: 0;
    margin-right: 30px;
}

a.readmore_bt {
    color: #fff;
    font-weight: 300;
    text-decoration: underline !important;
}

.main_bt:hover,
.main_bt:focus {
    background: #ad2101;
    border: solid #ad2101 5px;
    color: #fff;
}
/**-- list icon --**/
.ul_list_info_icon ul {
    list-style: none;
}

    .ul_list_info_icon ul li {
        display: inline;
        float: left;
        width: 100%;
    }

        .ul_list_info_icon ul li img {
            width: 75px;
        }
/*---------------------------- preloader area ----------------------------*/
.loader_bg {
    position: fixed;
    z-index: 9999999;
    background: #fff;
    width: 100%;
    height: 100%;
}

.loader {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .loader img {
        width: 500px;
    }
/*---------------------------- scroll to top area ----------------------------*/
.scrollup {
    float: right;
    position: absolute;
    color: #fff;
    right: 20px;
    padding: 0px 5px;
    text-transform: uppercase;
    font-weight: 600;
    background: #38c8a8;
    position: fixed;
    bottom: 20px;
    z-index: 99;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border-radius: 0px;
    opacity: 0;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    line-height: 48px;
    font-size: 16px;
}

    .scrollup.b-show_scrollBut {
        opacity: 1;
        visibility: visible;
    }

.top_awro {
    background: #ee4a79 none repeat scroll 0 0;
    cursor: pointer;
    padding: 6px 8px;
    position: fixed;
    bottom: 59px;
    right: 20px;
    display: none;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    transition: all 0.5s ease;
}

.sale_pro {
    background: #f25252 !important;
}

.margin_top_50 {
    margin-top: 50px;
}

.margin_bottom_30_all {
    margin-bottom: 30px;
}

.text_align_center {
    text-align: center;
}
/*--------------------------------------------------------------------- header area ---------------------------------------------------------------------*/

.logo_section {
    text-align: center;
}

.logo {
    float: left;
    padding-bottom: 6px;
}

nav.main-menu {
    float: left;
    margin-left: 0;
    margin-left: 0;
}

.right_cart_section {
    float: right;
    width: auto;
}

    .right_cart_section ul {
        float: left;
        min-height: auto;
        margin: 0;
        padding: 12px 0 0;
    }

    .right_cart_section .cart_icons {
        padding: 18px 0 0;
    }

    .right_cart_section ul li {
        float: left;
        font-size: 17px;
        font-weight: 400;
        color: #fff;
        margin-right: 30px;
    }

    .right_cart_section ul.cart_update li {
        font-size: 13px;
        color: #ccc;
        line-height: normal;
        margin: 0;
        font-weight: 300;
    }

        .right_cart_section ul.cart_update li span {
            font-size: 18px;
            font-weight: 300;
            color: #fff;
            line-height: 21px;
        }

    .right_cart_section ul li i {
        margin-right: 10px;
        margin-top: 5px;
        float: left;
        color: #fff;
        font-size: 21px;
    }

    .right_cart_section ul li a {
        color: #fff;
    }
/*-- end header middle --*/
.top-bar-info {
    background: #111111;
    padding: 5px 0px;
}

.top-menu-left {
    float: left;
}

    .top-menu-left li {
        position: relative;
        display: inline-block;
        margin-right: 11px;
        padding-right: 12px;
    }

        .top-menu-left li::before {
            content: "";
            position: absolute;
            right: 0;
            top: 9px;
            height: 10px;
            border-right: 1px dotted #999;
        }

        .top-menu-left li:last-child::before {
            display: none;
        }

        .top-menu-left li:last-child {
            padding: 0px;
            margin: 0px;
        }

        .top-menu-left li a {
            color: #ffffff;
            font-size: 12px;
            text-transform: uppercase;
            text-decoration: none;
        }

            .top-menu-left li a:hover {
                color: #0000CD;
            }

.right-dropdown-language {
    float: right;
    margin-left: 12px;
}
#verify-section {
    background-image: url(/images/cyberbackground.jpg);
    background-size: cover;
    height: 700px;
}
#forgot-section {
    background-image: url(/images/cyberbackground.jpg);
    background-size: cover;
    height: 700px;
}
#reset-section {
    background-image: url(/images/cyberbackground.jpg);
    background-size: cover;
    height: 700px;
}

.ver-img {
    background-image:url(/images/profile.png);
    width : 300px;
    height:300px;
    background-size:cover
    
}
.dropdown-bar .dropdown-link {
    position: absolute;
    z-index: 1009;
    top: 40px;
    left: 0;
    right: auto;
    min-width: 50px;
    padding: 15px;
    background: #ffffff;
    list-style: none;
    border: 2px solid #38c8a8;
    opacity: 0;
    visibility: hidden;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition: opacity 0.2s ease 0s, visibility 0.2s linear 0s;
    -o-transition: opacity 0.2s ease 0s, visibility 0.2s linear 0s;
    transition: opacity 0.2s ease 0s, visibility 0.2s linear 0s;
    text-align: left;
}

.dropdown-bar:hover .dropdown-link {
    opacity: 1;
    visibility: visible;
    top: 25px;
}

.dropdown-bar.right-dropdown-language > a::after {
    font-family: "FontAwesome";
    content: "\f107";
    text-decoration: none;
    padding-left: 4px;
    color: #ffffff;
}

.right-dropdown-language > a {
    line-height: 10px;
    padding: 5px 5px;
    cursor: pointer;
}

.dropdown-bar .dropdown-link li a {
    color: #111111;
    display: block;
    font-size: 12px;
    line-height: 15px;
    padding: 5px 0;
}

    .dropdown-bar .dropdown-link li a:hover {
        color: #0000CD;
    }

    .dropdown-bar .dropdown-link li a img {
        margin-right: 7px;
    }

.dropdown-bar .dropdown-link li.active {
    font-weight: bold;
}

.right-dropdown-language .dropdown-link {
    min-width: 100px;
    padding: 7px 10px;
    color: #111111;
}

.dropdown-bar {
    position: relative;
    padding: 0 5px;
    font-size: 13px;
}

    .dropdown-bar .dropdown-link.right-sd {
        left: auto;
        right: 0;
    }

.right-dropdown-currency {
    float: right;
    margin-left: 12px;
}

.dropdown-bar.right-dropdown-currency > a::after {
    font-family: "FontAwesome";
    content: "\f107";
    text-decoration: none;
    padding-left: 4px;
    color: #ffffff;
}

.right-dropdown-currency > a {
    line-height: 10px;
    padding: 5px 5px;
    cursor: pointer;
    color: #ffffff;
}

.right-dropdown-currency .dropdown-link {
    min-width: 100px;
    padding: 7px 10px;
    color: #111111;
}

.right-dropdown-currency .dropdown-link {
    min-width: 55px;
    padding: 7px 10px;
}

    .right-dropdown-currency .dropdown-link li a span.symbol {
        margin-right: 7px;
    }

#login-modal .modal-content {
    border-radius: 0px;
}

    #login-modal .modal-content .modal-header {
        background: #38c8a8;
        border-radius: 0;
    }

    #login-modal .modal-content .modal-body .form-group input {
        background: #ffffff;
        border: 1px solid #c8c8c8;
        border-radius: 0px;
    }

        #login-modal .modal-content .modal-body .form-group input:focus {
            border: 1px solid #c8c8c8 !important;
        }

    #login-modal .modal-content form {
        margin-bottom: 10px;
    }

.modal-title {
    padding: 0px;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
}

.btn-template-outlined {
    background: #111111;
    color: #ffffff;
    border: none;
    border-radius: 0px;
}

    .btn-template-outlined i {
        padding-right: 10px;
    }

.text-muted {
    padding: 10px 0px;
}

.slogan-line {
    float: right;
    color: #ffffff;
    font-size: 13px;
}

.middle-area {
    padding: 30px 0px;
}

.header-search {
    padding: 3px 0px;
    border-width: 5px;
    border-color: #0000CD;
}

    .header-search form {
        position: relative;
        -webkit-box-shadow: 0px 1px 10px -1px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 1px 10px -1px rgba(0, 0, 0, 0.2);
    }

    .header-search .btn-group.bootstrap-select {
        position: absolute;
        left: 0px;
        top: 0px;
    }

    .header-search input {
        width: 100%;
        min-height: 45px;
        border-radius: 0px;
        border: none;
        padding-left: 15px;
        border: 1px solid #e0e7ed;
    }

    .header-search form .search-btn {
        position: absolute;
        right: 0;
        top: 0;
        border: 0;
        color: #fff;
        font-size: 20px;
        padding: 4px 15px;
        border-radius: 0px;
        background-color: #38c8a8;
        cursor: pointer;
    }

        .header-search form .search-btn:hover {
            background: #111111;
        }

.cart-box {
    float: right;
    margin-left: 10px;
    position: relative;
}

.cart-content-box {
    position: absolute;
    z-index: 1009;
    top: 40px;
    left: auto;
    right: 0;
    min-width: 250px;
    max-width: 250px;
    padding: 15px;
    background: #ffffff;
    list-style: none;
    border: 2px solid #38c8a8;
    opacity: 0;
    visibility: hidden;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.cart-box:hover .cart-content-box {
    opacity: 1;
    visibility: visible;
    top: 100%;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

.inner-cart {
    background: #38c8a8;
    border-radius: 2px;
    padding: 0px;
    color: #ffffff;
    position: relative;
    width: 40px;
    height: 40px;
    text-align: center;
}

.cart-box .inner-cart:hover {
    color: #ffffff;
}

.line-cart {
    float: left;
    line-height: 40px;
    margin-right: 9px;
}

.cart-box a {
    display: inline-block;
}

    .cart-box a:hover {
        color: #38c8a8;
    }

    .cart-box a span.icon {
        background: #38c8a8;
        width: 30px;
        height: 40px;
        display: inline-block;
        line-height: 40px;
        text-align: center;
        color: #ffffff;
        position: relative;
        border-radius: 2px;
    }

    .cart-box a .p-up {
        position: absolute;
        right: -8px;
        top: -8px;
        line-height: initial;
        background: #38c8a8;
        padding: 3px;
        border-radius: 50%;
        width: 17px;
        height: 17px;
        font-size: 12px;
        text-align: center;
        line-height: 10px;
    }

.wish-box {
    float: right;
}

    .wish-box a {
        display: inline-block;
    }

        .wish-box a:hover {
            color: #38c8a8;
        }

        .wish-box a span.icon {
            background: #38c8a8;
            width: 40px;
            height: 40px;
            display: inline-block;
            line-height: 40px;
            text-align: center;
            color: #ffffff;
            position: relative;
            border-radius: 2px;
        }

            .wish-box a span.icon:hover {
                background: #111111;
            }

.cart-content-right {
    padding: 5px 0px;
}

.cart-content-box .items {
    text-align: center;
}

.product-media {
    width: 60px;
    float: left;
    position: relative;
}

.cart-content-box .items:hover .product-media::before {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.product-media::before {
    position: absolute;
    content: "";
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #38c8a8;
    opacity: 0.4;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.cart-content-box .items .item .remove {
    position: absolute;
    right: 0px;
    top: 0px;
    background: #38c8a8;
    color: #ffffff;
    width: 20px;
    height: 20px;
    line-height: 18px;
    border-radius: 2px;
}

.cart-content-box .items .item {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e0e7ed;
    position: relative;
}

    .cart-content-box .items .item .product-info {
        padding-top: 10px;
        padding-left: 71px;
        text-align: left;
    }

    .cart-content-box .items .item .remove:hover {
        background: #111111;
    }

.subtotal {
    text-align: left;
    text-transform: capitalize;
    color: #38c8a8;
    font-weight: 500;
    margin-bottom: 15px;
}

    .subtotal span {
        font-weight: bold;
        color: #111111;
        padding-left: 15px;
        float: right;
    }

.actions .btn-process {
    padding: 5px 16px;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    border-radius: 2px;
    overflow: hidden;
}

    .actions .btn-process:hover {
        color: #ffffff;
    }

.line-cart {
    position: relative;
}

.wish-box a span.icon span {
    position: absolute;
    right: -8px;
    top: -8px;
    line-height: initial;
    background: #38c8a8;
    padding: 3px;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    font-size: 12px;
}

.menu-area-main li.active a {
    color: #fff;
    background: #0000CD;
    border-radius: 17px;
}

.main-menu {
    text-align: center;
}

    .main-menu ul {
        margin: 0;
        list-style-type: none;
    }

        .main-menu ul > li {
            display: inline-block;
            position: relative;
        }

            .main-menu ul > li a {
                padding: 11px 20px;
                text-align: center;
                line-height: 20px;
                font-size: 16px;
                display: block;
                font-weight: 500;
                color: #fff;
                text-transform: uppercase;
                transition: all 0.3s ease-in;
            }

                .main-menu ul > li a:hover {
                    color: #fff;
                    background: #0000CD;
                    border-radius: 17px;
                    transition: all 0.3s ease-in;
                }

.sub-down li {
    background: #ffffff;
}

.main-menu ul > li .sub-down li a {
    color: #114c7d;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 300;
    padding: 12px 5px;
    position: relative;
    border-bottom: solid #eee 1px;
}

    .main-menu ul > li .sub-down li a::before {
    }

    .main-menu ul > li .sub-down li a:hover {
        color: #111111;
    }

        .main-menu ul > li .sub-down li a:hover::before {
        }

.main-menu ul li:first-child {
    margin-left: 0;
}

.main-menu ul > li > ul {
    opacity: 0;
    position: absolute;
    text-align: left;
    top: 100%;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    width: 240px;
    z-index: 999;
    background: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.main-menu > ul > li:hover > ul {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    visibility: visible;
    opacity: 1;
}

.main-menu ul > li > ul > li {
    margin: 0px;
    position: relative;
    display: block;
}

    .main-menu ul > li > ul > li:hover > ul {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        visibility: visible;
        opacity: 1;
        left: 100%;
        top: 10px;
    }

    .main-menu ul > li > ul > li > a {
        background: none !important;
    }

.mean-container .mean-nav {
    margin-top: 0px;
    position: absolute;
    top: 100%;
}

.main-menu ul > li {
    position: inherit;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    margin: 6px 0px;
}

.nav > li {
    position: inherit;
    display: inline-block;
    vertical-align: middle;
}

.megamenu .sub-down {
    max-width: 1140px;
    width: 100%;
    left: 0;
    margin: 0 auto;
    right: 0;
    padding: 15px 0px;
}
/*--------------------------------------------------------------------- top banner area ---------------------------------------------------------------------*/
/*--------------------------------------------------------------------- layout new css ---------------------------------------------------------------------*/
.menu-area {
    float: right;
}

.last_manu:hover {
    background: transparent;
}

.padding_left0 {
    padding-left: 0px;
}

.header {
    position: fixed;
    z-index: 999;
    width: 100%;
}

.logo a {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    line-height: 40px;
}

.banner_Client {
    position: relative;
}

.text-bg {
    text-align: center;
}

    .text-bg span {
        font-size: 80px;
        line-height: 80px;
        color: #0fc9da;
        text-transform: uppercase;
    }

    .text-bg h1 {
        color: #fff;
        padding-top: 20px;
        font-size: 100px;
        line-height: 85px;
        padding-bottom: 40px;
        text-transform: uppercase;
        font-weight: bold;
    }

    .text-bg p {
        font-size: 17px;
        display: block;
        color: #fff;
        line-height: 30px;
        padding-bottom: 50px;
        font-weight: 400;
    }

    .text-bg a {
        font-size: 16px;
        background-color: #fff;
        color: #000;
        padding: 12px 0px;
        max-width: 253px;
        width: 100%;
        display: inline-block;
        text-align: center;
        border-radius: 30px;
        margin-right: 10px;
        transition: ease all 0.5s;
    }

        .text-bg a:hover {
            background-color: #0000CD;
            color: #fff;
            transition: ease all 0.5s;
        }

.text {
    position: inherit;
    text-align: left;
    background: #0000CD;
    width: 100%;
    bottom: auto;
    padding: 0;
    margin-top: 90px;
}

.img_bg {
    text-align: center;
    margin: 0 auto;
    align-items: center;
    width: 100%;
    display: flex;
    height: 100%;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.images_box figure {
    margin: 0px;
}

    .images_box figure img {
        width: 100%;
    }

.img_bg h3 {
    text-align: center;
    font-size: 50px;
    line-height: 58px;
    color: #fff;
}

.slider_section {
    padding-top: 268px;
}

.slider-title {
    text-align: center;
    font-size: 30px;
}

.slider-description {
    text-align: center;
    font-size: 30px;
    font-family: "PT Sans Narrow", sans-serif;
}

.black_nolmal {
    font-weight: normal;
    color: #000;
}

.carousel-indicators {
    left: inherit;
    top: 40%;
    margin-right: 2%;
    display: block;
}

.carousel-caption {
    position: inherit;
}

.carousel-indicators {
    display: none;
}

.padding_dd {
    padding: 0px 50px;
}

.carousel-control-prev i {
    font-size: 50px;
    color: #0000CD;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-control-next i {
    font-size: 50px;
    color: #0000CD;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-control-next,
.carousel-control-prev {
    bottom: -63%;
    top: inherit;
    z-index: 999;
    opacity: 1;
}

.carousel-control-prev {
    left: 40%;
}

.carousel-control-next {
    right: 40%;
}

/** about section **/
.about {
    background: url(../images/about_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 110px 0;
}

.about-title {
    color: #0000CD !important;
}

.display_boxflex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about .about-box {
    text-align: left;
}

    .about .about-box h2 {
        padding: 0;
        color: #020d0f;
        line-height: 70px;
        font-size: 70px;
    }

    .about .about-box p {
        font-size: 17px;
        line-height: 28px;
        color: #000;
        padding: 35px 0px;
    }

    .about .about-box a {
        font-size: 16px;
        border: #000 solid 1px;
        background-color: #000;
        color: #fff;
        padding: 9px 0px;
        max-width: 171px;
        width: 100%;
        display: inline-block;
        text-align: center;
        border-radius: 30px;
    }

        .about .about-box a:hover {
            background-color: #0000CD;
            border: #0000CD solid 1px;
            color: #fff;
        }

    .about .about-box figure {
        margin: 0;
    }

        .about .about-box figure img {
            width: 100%;
        }
/** end about section **/

/** upcoming section **/
.upcoming {
    padding-top: 90px;
    background: #fff;
}

.box_text {
    max-width: 415px;
    width: 100%;
    padding: 25px 2px 2px 2px;
    float: right;
}

    .box_text .titlepage {
        padding-bottom: 20px;
        text-align: left;
    }

    .box_text p {
        font-size: 17px;
        line-height: 35px;
        font-weight: 400;
        text-align: left;
        color: #181716;
        padding-right: 20px;
    }

    .box_text a {
        font-size: 16px;
        border: #000 solid 1px;
        background-color: #000;
        color: #fff;
        padding: 9px 0px;
        max-width: 171px;
        width: 100%;
        display: inline-block;
        text-align: center;
        border-radius: 30px;
        float: left;
        margin-top: 53px;
    }

        .box_text a:hover {
            background-color: #0000CD;
            border: #0000CD solid 1px;
            color: #fff;
        }

.padding_left3 {
    padding-right: 0px;
}

.upcomimg figure {
    margin: 0;
}

    .upcomimg figure img {
        width: 100%;
    }

/** end Courses section **/

/** Gallery **/
.Gallery {
    background: #ececec;
    padding: 110px 0;
    margin-top: 90px;
}

.Gallery_text .titlepage {
    padding-bottom: 20px;
    text-align: right;
}

.Gallery_text p {
    font-size: 17px;
    line-height: 35px;
    font-weight: 400;
    text-align: right;
    color: #181716;
}

.Gallery_text a {
    font-size: 16px;
    border: #000 solid 1px;
    background-color: #000;
    color: #fff;
    padding: 9px 0px;
    max-width: 171px;
    width: 100%;
    display: inline-block;
    text-align: center;
    border-radius: 30px;
    float: right;
    margin-top: 53px;
}

.page-title {
    display: flex;
    justify-content: center;
}

    .page-title li span {
        color: #0000CD;
        font-size: 30px;
        margin-left: 20px;
    }

.margi_bott {
    margin-bottom: 20px;
}

.Gallery_img {
    position: relative;
}

    .Gallery_img figure {
        margin: 0;
    }

        .Gallery_img figure img {
            width: 100%;
        }

.album-catagory {
    margin-top: 20px;
}

.single-album {
    margin-top: 30px;
}

    .single-album img {
        width: 100%;
    }

    .single-album h2 {
        margin-top: 10px;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        text-align: center;
    }

    .single-album p {
        display: block;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
    }

    .single-album:hover h2 {
        margin-top: 10px;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        text-align: center;
        font-size: 30px;
        color: #0000CD;
    }

.genre-item {
}

.single-album-item h5,
p {
    display: inline;
}

.categories {
    margin-bottom: 20px;
    padding: 0;
}

#searchList {
    width: 100%;
    text-align: center;
}

    #searchList li {
        background-color:rebeccapurple;
        text-align: center;

    }

        #searchList li a {
            text-decoration: none;
            color: #0000CD;
            font-size: 20px;
            font-family:'Javanese Text'
        }

.category-item {
    font-size: 20px;
    margin-right: 20px;
    display: inline;
    cursor: pointer
}

    .category-item:hover {
        font-size: 20px;
        color: #0000CD;
        margin-right: 20px;
        display: inline;
    }

.hover_box {
    position: absolute;
    background: #0000CDbf;
    display: flex;
    justify-content: center;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    float: left;
    height: 100%;
    align-items: center;
    opacity: 0;
    transition: ease-in all 0.5s;
}

    .hover_box:hover {
        opacity: 1;
        transition: ease-in all 0.5s;
    }

.Gallery_text a:hover {
    background-color: #0000CD;
    border: #0000CD solid 1px;
    color: #fff;
}

ul.icon_hu {
    text-align: center;
}

    ul.icon_hu h3 {
        color: #fff;
        font-size: 26px;
        padding: 0;
        font-weight: 500;
    }

    ul.icon_hu li {
        padding: 10px 3px;
        display: inline-block;
    }

/** end Gallery **/

/** end make **/

.titlepage {
    text-align: center;
    padding-bottom: 60px;
}

    .titlepage span {
        padding-top: 30px;
        display: inline-block;
        font-size: 17px;
        color: #000;
    }

.yellow {
    color: #200769;
    font-weight: bold;
}

.titlepage h2 {
    padding: 0;
    color: #000;
    line-height: 85px;
    font-size: 70px;
}

.contact {
    padding-top: 90px;
}

.contact_bg .titlepage {
    text-align: center;
    padding-bottom: 30px;
}

    .contact_bg .titlepage h2 {
        padding: 0px;
        color: #fff;
    }

.contact_bg {
    max-width: 677px;
    margin: 0 auto;
    text-align: center;
    padding: 40px 0px 50px 0px;
}

    .contact_bg .contactus {
        border: #b1b0b0 solid 1px;
        padding: 12px 19px;
        margin-bottom: 15px;
        border-radius: inherit;
        color: #000;
        width: 100%;
        height: 44px;
    }

    .contact_bg .textarea {
        margin-bottom: 15px;
        padding: 15px 19px;
        color: #000 !important;
        width: 100%;
        border: #b1b0b0 solid 1px;
        border-radius: inherit;
    }

    .contact_bg .send {
        font-size: 16px;
        background-color: #fff;
        color: #000;
        max-width: 171px;
        width: 100%;
        padding: 11px 0px;
        transition: all 0.3s ease-in;
        border-radius: 30px;
    }

        .contact_bg .send:hover {
            background-color: #0000CD;
            color: #fff;
            transition: all 0.3s ease-in;
        }
/** end contact section **/

/** footer **/
.footer {
    background: #161616;
    padding: 90px 0;
}

.news h3 {
    color: #fff;
    font-size: 20px;
    line-height: 21px;
    text-align: left;
    font-weight: 500;
    padding-bottom: 20px;
}

.footer .address h3 {
    color: #fff;
    font-size: 30px;
    line-height: 35px;
    font-weight: 500;
    padding-bottom: 20px;
}

.location_section {
    background-color: #fff;
    margin-bottom: 40px;
    border-radius: 10px;
    padding: 20px 35px;
}

.border_top {
    border-top: #ddd solid 1px;
}

.news {
    padding: 35px 0px 50px 0px;
    max-width: 71%;
    margin: 0 auto;
}

    .news .newslatter {
        padding: 0px 30px;
        box-shadow: inherit;
        border: inherit;
        width: 70%;
        font-size: 16px;
        height: 52px;
        text-transform: uppercase;
    }

.submit {
    height: 52px;
    border: #0000CD solid 1px;
    background: #0000CD;
    color: #fff;
    margin-left: -5px;
    font-weight: 500;
    font-size: 16px;
    max-width: 191px;
    width: 100%;
    text-transform: uppercase;
    transition: all 0.3s ease-in;
}

    .submit:hover {
        background: #ddd;
        border: #ddd solid 1px;
        color: #0000CD;
        transition: all 0.3s ease-in;
    }

ul.loca {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

    ul.loca li {
        color: #fcfbfb;
        padding: 0px 30px;
        font-size: 18px;
    }

        ul.loca li a {
            padding-right: 16px;
            color: #fcfbfb;
            margin-top: 4px;
        }

ul.social_link {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    flex-wrap: wrap;
}

    ul.social_link li {
        display: inline-block;
        padding-right: 4px;
        margin: 0px 4px;
    }

        ul.social_link li a {
            font-size: 24px;
            color: #161616;
            background: #0000CD;
            border-radius: 80px;
            display: flex;
            align-items: center;
            width: 40px;
            height: 41px;
            justify-content: center;
        }

            ul.social_link li a:hover {
                color: #fff;
            }

.copyright {
    padding: 23px 0px;
    margin-top: 55px;
    border-top: #ddd solid 1px;
}

    .copyright p {
        color: #fff;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
    }

    .copyright a {
        color: #fff;
    }

        .copyright a:hover {
            color: #0000CD;
        }
/** end footer **/
/*--------------------------------------------------------------------- ener page css ---------------------------------------------------------------------*/

.contineer_page .header {
    position: fixed;
    z-index: 1000000;
    height: 100px;
    width: 100%;
    padding: 18px;
    -webkit-transition: all ease-out 0.5s;
    -moz-transition: all ease-out 0.5s;
    -o-transition: all ease-out 0.5s;
    transition: all ease-out 0.5s;
}

div.active {
    background-color: rgba(34, 34, 34, 0.8);
}

.backgro_mh {
    padding-top: 100px;
    background: #000;
}

.heding h2 {
    color: #fff;
    font-size: 60px;
    line-height: 60px;
    padding: 45px 0;
    text-align: center;
}
/* Login Page */
.back-image {
    background-image: url("/images/background6.jpg");
    box-sizing: border-box;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.backgr-img{
    margin-top:50px;
}
.email-label{
    font-size:50px;
    color:white;
}
#emailHelp{
    font-size:30px;
    color:white;
}
/*------------------------------------------------------------- Events Page------------------------------------------------------ */
.event-title {
    color: #0000CD;
    text-align: center;
    font-weight: 700;
}

    .event-title span::after {
        border-bottom: 10px solid #0000CD;
        content: "";
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        bottom: -13px;
    }

.event-subtitle {
    display: block;
    color: #0000CD;
    text-align: center;
    padding: 65px 122px;
    font-size: 31px;
    line-height: 1.6;
    font-weight: 700;
}
.event-pieces{
    overflow-y:scroll;
    height:500px
}

.event-card {
    margin: 50px 0;
    background-color: rgba(0, 255, 13, 0.25);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 38px;
    filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.event .wrapper {
    width: 100%;
    height: 100%;
}

.event .banner-image {
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 255);
}

    .event .banner-image img {
        height: 100% !important;
        width: 100% !important;
    }

.event .button-wrapper {
    margin-top: 18px;
}

.event .btn {
    border: none;
    padding: 12px 24px;
    border-radius: 24px;
    font-size: 12px;
    font-size: 0.8rem;
    letter-spacing: 2px;
    cursor: pointer;
}

    .event .btn + .btn {
        margin-left: 10px;
    }

.event .outline {
    background: transparent;
    color: #0000CD;
    border: 1px solid #0000CD;
    transition: all 0.3s ease;
}

.event .col-lg-4 .outline:hover {
    transform: scale(1.125);
    color: #000;
    border-color: #000;
    transition: all 0.3s ease;
}

.event .fill {
    background: #0000CD;
    color: rgba(255, 255, 255, 0.95);
    filter: drop-shadow(0);
    font-weight: bold;
    transition: all 0.3s ease;
}

    .event .fill:hover {
        transform: scale(1.125);
        border-color: rgba(255, 255, 255, 0.9);
        filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.125));
        transition: all 0.3s ease;
    }

/* ----------------------------------------------Album Details----------------------------------------------------- */
#album-detail {
    padding-top: 100px;
    background-color: #24242f;
}

.btn-redirect {
    margin-top: 20px;
}

.album-img img {
    width: 400px;
    height: 400px;
}

.album-details {
    padding: 0px;
}

.album-title h1 {
    color: white;
}

ul.album-details {
    margin: 50px;
}

.album-items {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

    .album-items h4,
    p {
        margin: 0;
        padding: 10px;
    }

ul.album-details li {
    display: flex;
    font-size: 30px;
    color: #0000CD;
    border-bottom: 1px rgba(255, 255, 255, 0.582) solid;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

    ul.album-details li p {
        font-size: 30px;
        color: white;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }

#album-songs {
    padding: 30px 0;
    background-color: #24242f;
}

.album-name {
    margin-top: 10px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: center;
}

.categories a {
    text-decoration: none;
    color: black;
}

.categories li :hover {
    text-decoration: none;
    color: #0000CD;
}

.album-song {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.single-album a {
    text-decoration: none !important;
    color: black;
}

#player {
    overflow-y: scroll;
    height: 830px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 50px auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #0000CD;
    border-radius: 10px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #0000CD;
    }

#controls {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0;
}

#play-pause {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #0000CD;
    color: #fff;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

    #play-pause:hover {
        background-color: #444;
    }

#prev,
#next {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: #ddd;
    color: #333;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

    #prev:hover,
    #next:hover {
        background-color: #eee;
    }

#playlist {
    width: 100%;
    margin: 20px 0;
}

#songs {
    list-style: none;
    padding: 0;
}

    #songs li {
        padding: 10px;
        background-color: #ddd;
        margin: 10px 0;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.2s ease;
    }

        #songs li p {
            font-size: 20px;
            font-family: "Bangers", cursive;
        }

#random-icon {
    color: #0000CD;
    font-size: 30px;
    cursor: pointer;
}

    #random-icon :hover {
        color: #000 !important;
    }

#songs li:hover {
    background-color: #0000CD;
}

#songs li.active-song {
    background-color: rgb(87, 206, 57);
}

#progress-bar {
    width: 100%;
    height: 5px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin: 20px 0;
    cursor: pointer;
}

    #progress-bar .progress {
        width: 0;
        height: 100%;
        background-color: #333;
        border-radius: 5px;
        transition: width 0.2s ease;
        cursor: pointer;
    }

#volume {
    width: 100px;
    height: 20px;
    margin: 20px 0;
    -webkit-appearance: none;
    background-color: #ddd;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

    #volume::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #333;
        cursor: pointer;
    }

#time {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#album-songs .songs-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    #album-songs .songs-item .fa-heart {
        color: white;
        font-size: 30px;
        color: red;
    }

    #album-songs .songs-item .fa-solid .fa-heart {
        color: white;
        font-size: 30px;
        color: red;
    }

#album-songs h1 {
    color: white;
}

/* ---------------------*/
#clicked {
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    width: 100%;
    background-color: #ecb21f;
    border-color: #a88734 #9c7e31 #846a29;
    color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 13px;
}

#profile {
    background-color: unset;
}

#post {
    margin: 10px;
    padding: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    background-color: #0000CD;
    border-color: #a88734 #9c7e31 #846a29;
    color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 13px;
    width: 50%;
}

#page-forms .comments {
    margin-top: 5%;
    margin-left: 20px;
}

#page-forms {
    padding-top:20px;
    padding-bottom:50px;
    background-color: #222233;
}

    #page-forms .darker {
        border: 1px solid #ecb21f;
        background-color: black;
        float: right;
        border-radius: 5px;
        padding-left: 40px;
        padding-right: 30px;
        padding-top: 10px;
    }

    #page-forms .comment {
        border: 1px solid #24242f;
        background-color: #24242f;
        float: left;
        border-radius: 5px;
        padding-left: 40px;
        padding-right: 30px;
        padding-top: 10px;
    }
    .comment-box{
        height:644px;
        overflow-y:scroll;
    }
        #page-forms .comment h4,
        .comment span,
        .darker h4,
        .darker span {
            display: inline;
            color: white;
        }

        #page-forms .comment p,
        .comment span,
        .darker p,
        .darker span {
            color: rgb(184, 183, 183);
        }

    #page-forms h1,
    h4 {
        color: white;
        font-weight: bold;
    }

#algin-form {
    margin-top: 70px;
}

#page-forms label {
    color: rgb(212, 208, 208);
}

#align-form {
    margin-top: 20px;
}

#page-forms .form-group p a {
    color: white;
}

#checkbx {
    background-color: black;
}

#darker img {
    margin-right: 15px;
    position: static;
}

#page-forms .form-group input,
.form-group textarea {
    background-color: black;
    border: 1px solid rgba(16, 46, 46, 1);
    border-radius: 12px;
}

#page-forms form {
    border: 1px solid rgba(16, 46, 46, 1);
    background-color: #24242f;
    border-radius: 5px;
    padding: 20px;
}

#page-forms .comment-title {
    color: #ffffff !important;
}

#page-forms .reply-form {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#page-forms .reply-to {
    background-color: #0000CD;
    text-align: center;
    width: 100px;
    height: 30px;
    font-size: 20px;
    border-radius: 10px;
    color: white;
}

#page-forms .fa-heart {
    font-size: 30px;
}
/*-------------------------------------------------Event-Details Page------------------------------------------------------*/
#event-about {
    height: 800px;
    background-image: url("/images/event-detail.jpg");
    background-size: cover;
    opacity: 1;
}

    #event-about .row {
        justify-content: center;
        text-align: center;
        align-items: center;
    }

.event-section {
    margin-top: 200px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.event-detail-title {
    font-size: 50px;
    color: #0000CD;
}

.event-description {
    font-size: 25px;
    color: white;
    font-weight: 900;
}

.continue {
    font-size: 16px;
    border: #000 solid 1px;
    background-color: #000;
    color: #fff !important;
    padding: 9px 0px;
    max-width: 171px;
    width: 100%;
    display: inline-block;
    text-align: center;
    border-radius: 30px;
    margin-top: 53px;
}

    .continue:hover {
        background-color: #0000CD !important;
        border: #0000CD solid 1px;
        color: #fff;
        cursor: pointer;
    }

#event-date {
    background-color: #000;
}

.clock {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    margin: 0px;
}

    .clock span {
        color: #0000CD;
        font-size: 50px;
        font-family: "Oswald", sans-serif;
        text-shadow: 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
    }

.event-start {
    padding-top: 100px;
    text-align: center;
    color: #0000CD;
    font-size: 50px;
    font-family: "Oswald", sans-serif;
    text-shadow: 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

#event-location {
    height: 300px;
}

.icon-box {
    display: flex;
    justify-content: center;
}

    .icon-box i {
        font-size: 50px;
        color: #0000CD;
    }

.icon-description h4 {
    padding: 0;
    margin: 0;
    font-family: "Bangers", cursive;
}

.icon-description span {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
}

.event-item {
    margin-top: 100px;
}

.page-button {
    display: flex;
    justify-content: center;
}

.side-buttons {
    font-size: 17px;
    border: #000 solid 1px;
    background-color: #000;
    color: #fff !important;
    padding: 9px 0px;
    max-width: 171px;
    width: 100%;
    display: inline-block;
    text-align: center;
    border-radius: 30px;
    margin-top: 23px;
}

    .side-buttons:hover {
        background-color: #0000CD !important;
        border: #0000CD solid 1px;
        color: #fff;
        cursor: pointer;
    }
.full-half{
    display:flex;
    justify-content:space-between
}