<div class="footer ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-danger" asp-validation-summary="All"></div>
                <form asp-controller="Home" asp-action="ContactUser" class="contact_bg">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="titlepage">
                                <h2>Contact us</h2>
                            </div>
                            <div class="col-md-12">
                                <input class="contactus" placeholder="Your Name" type="text" name="Name">
                            </div>
                            <div class="col-md-12">
                                <input class="contactus" placeholder="Your Email" type="email" name="Email">
                            </div>
                            <div class="col-md-12">
                                <input class="contactus" placeholder="Your Phone" type="number" name="Number">
                            </div>
                            <div class="col-md-12">
                                <textarea class="textarea" placeholder="Message" type="text" name="Content"></textarea>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                <button class="send">Send</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="col-md-12">
                <div class="text-white" asp-validation-summary="All"></div>
                <form asp-controller="Home" asp-action="Subscribe" class="news">
                    <h3>Do you want to know about the news? Subscribe</h3>
                    <input id="newLetter" class="newslatter" placeholder="ENTER YOUR MAIL" type="email" name="Email">
                    <button id="submitLetter" class="submit">Subscribe</button>
                   
                </form>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                        <div class="address">
                            <ul class="loca">
                                <li>
                                    <i class="fa-solid fa-location-dot"></i> Locations

                                <li>
                                    <i class="fa-solid fa-phone"></i> +994559885792
                                </li>
                                <li>
                                    <i class="fa-regular fa-envelope"></i> mucicman@gmail.com
                                </li>
                            </ul>


                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12  ">
                        <ul class="social_link">
                            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
