@model AccountUpdateVM
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">
    <div class="row">
        <h1>Update Account Settings </h1>
        <div class="tab-content">
            <div class="tab-pane fade active in" id="home">
                <a asp-action="Index" as class="btn btn-primary">Return Back </a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img src="~/Admin/images/AdminImages/@Model.ImageUrl" width="100" height="100" />
            <form method="post" role="form" class="form-control-static" enctype="multipart/form-data">
                <div class="form-group">

                    <label asp-for="Photo">Photo</label>
                    <input asp-for="Photo" class="form-control"  placeholder="Photo">
                    <span class="text-danger" asp-validation-for="Photo"></span>
                    <br />              
                    <label asp-for="Fullname">Fullname:</label>
                    <input asp-for="Fullname" class="form-control" placeholder="Fullname">
                    <span class="text-danger" asp-validation-for="Fullname"></span>
                    <br />
                    <label asp-for="UserName">Username:</label>
                    <input asp-for="UserName" class="form-control"  placeholder="Username">
                    <span class="text-danger" asp-validation-for="UserName"></span>
                    <br />
                    <label asp-for="Email">Email: </label>
                    <input asp-for="Email" class="form-control" placeholder="Email">
                    <span class="text-danger" asp-validation-for="Email"></span>

                </div>
                <button type="submit" class="btn btn-outline-success">Submit</button>
                <a asp-action="Index" class="btn btn-outline-danger">Cancel</a>
                <a asp-area="" asp-controller="Account" asp-action="Logout" class="btn btn-dark">Logout</a>
            </form>
        </div>
    </div>
</div>

